html,body,#root,.common_full_width_height{
    margin: 0;
    width: 100%;
    height: 100%;
}
.common_full_width{
    width: 100%;
}
.common_full_height{
    height: 100%;
}
.common_float_left{
    float: left;
}
.common_float_right{
    float: right;
}

.header {

}
.logo {
    display: inline-block;
    margin: 10px;
}
.welcome {
    display: inline-block;
    float: right;
    margin: 10px;
    font-size: xx-large;
    color: #402863;
}
.website_name{
    color: royalblue;
    text-decoration: none;
}
.banner {
    height: 600px;
    width: 100%;
    background: url(../res/banner.jpg) no-repeat;
    background-size: cover;
}
.banner_title{
    color: #ffffff;
    text-align: center;
    padding-top: 200px;
    font-size: 80px;
    font-family: "STXingkai","serif";
}
.list_item{
    text-align: center;
}
.item {
    margin: 10px;
    width: 290px;
    display: inline-block;
    vertical-align: top;
}
.item_img {
    width: 290px;
}
.item_content_text {
    text-align: left;
    width: 290px;
}
.item_title {
    font-size: large;
    margin-bottom: 10px;
}
.item_description {
    color: #505050;
}
.footer {
    border-top: 1px solid #402863;
    text-align: center;
}
.footer_content{
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}
.contact_img {
    display: inline-block;
    width: 150px;
}
.contact_way_name{
    width: 150px;
}
.contact_content{
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
.contact_text{
    color: #402863;
    text-align: left;
    vertical-align: top;
    display: inline-block;
}
.contact_title{
    font-size: x-large;
}
.contact_item{
    margin-bottom: 10px;
}